* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    max-width: 100%;

}

:root {
    --color1: #45b7b8;
    --color2: #706381;
    --color3: #2c3848;
    --color4: #f7de1c;
    --color5: lightgray;
    --color6: #fff;
    --color7: #f2f2f2;
    --color8: #C0C0C0;
    --goldbg: #fdb432;
}

html {
    scroll-behavior: smooth;
}

.arrow-text {
    color: var(--color1);
}


#arr2 {
    padding: 10px;
    font-size: 1em;
}

#arr2:hover {
    text-decoration: underline;
}

/* #logo {
    float: right;
    margin-top: 25px;
    margin-right: 50px;
}
 */
#logo:hover {
    text-decoration: underline;
    color: var(--color4)
}

nav {
    width: 100%;
    height: 110px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;

    padding: 0 40px;
    box-shadow: 0 5px 5px var(--color6);
    transition: 0.3s;
    z-index: 10;
    background-color: var(--color1);
}

.logo {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    padding-left: 20px;
}

#logo a {
    padding-top: 30px;
    text-align: center;

    text-decoration: none;
    display: inline-block;
    color: var(--color3);
    text-transform: capitalize;
    font-size: 1em;
    transition: 0.3s;
}


#logo:hover a {
    color: var(--color4);
    transform: scale(1.1);
}

/* 
nav .logo {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color6);


} */

#header-img {
    max-height: 80px;
    max-width: 300px;
    padding-right: 20px;
}


/* .logo:hover {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    border: 2px solid var(--color6);
    background-color: var(--color3);
} */

.nb {
    margin-top: 5px;
    margin-left: 700px;
    padding: 2em;
    min-width: 1000px;
    height: 90%;
    width: 50%;
    border-radius: 10px;
    border: 2px solid var(--color6);
    background-color: var(--color7);

}

.nb:hover {
    box-shadow: 5px 5px 5px var(--color3);
}


nav ul {
    width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
    padding: 0 20px;
}

nav ul li a {
    text-decoration: none;
    display: inline-block;
    color: black;
    text-transform: capitalize;
    font-size: 1em;
    transition: 0.3s;
}

nav ul li a.active,
nav ul li:hover a {
    color: var(--color1);
    transform: scale(1.1);
}

.user:hover,
.pass:hover {
    border: 1px solid var(--color4);
}

body {
    font-family: "Mulish", "Muli", sans-serif;
    background-color: var(--color2);
    width: 100%;
    height: 100vh;
    z-index: 1;
}



#vid {
    margin: 0 auto;
    align-items: center;
}



.header-lg {
    padding: 10px 0;
    font-size: 2em;
}

#c1 {
    background-color: var(--color1);
}

#c2 {
    background-color: var(--goldbg);
}

.vert-offset-lg {
    margin: 0 auto;
    padding: 10px 0;

}

button {
    font-size: 1.5em;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--color1);
    border-radius: 10px;
}

button a {
    color: var(--color6)
}

button:hover {
    background-color: var(--goldbg);
    border: 2px solid var(--color2);

}

.right-sm {
    width: 50%;
    margin-left: 200px;
}

button:hover a {
    color: var(--color6);

}

.vert-offset-lg:hover {
    text-decoration: underline;
}

.container0 {
    width: 100%;
    height: 100%;
    position: relative;
}

.sec1 {
    z-index: 1;
    margin-top: 7em;
    padding: 2em;
    position: relative;
}

.sec2 {
    padding: 2em;
}

.sec3 {
    padding: 2em;
    background-color: var(--color1);
}

.left-sm2 {
    padding: 2em 4em;
}

.right-sm2 {
    padding-left: 400px;
}

.sec4 {
    padding: 2em;
    background-color: var(--color7);
}

#sec5 {
    font-size: 2em;
    padding: .5em;
}

.sec5 {
    background-color: var(--color1);
}



.form-group {
    padding-bottom: 1em;
}

.form-group1 {
    line-height: 2em;
    background-color: var(--color8);
    border: 2px solid var(--color3);
}

#email {
    margin-bottom: 2em;
}

#submit {
    margin-bottom: 1em;
    color: var(--color6)
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

label {
    display: block;
    margin: 0.5rem 0;
}

.user {
    background-color: var(--color8) !important;
}

.pass {
    background-color: var(--color8) !important;
}

input {
    background-color: var(--color7);
    color: var(--color6);
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

.sec5 {
    padding: 2em;
    text-align: center;
    line-height: 2em;
}

.advisor {
    padding-top: 50px;
    height: 600px;
}

#h5 {
    padding: 2em;
}

.sec6 {
    width: 100%;
    height: 105%;
    text-align: center;
}

.sec7 {
    background-color: var(--color7);
    display: block;
    padding-top: 125px;
    padding-bottom: 100px;
}

.card-group.card-group-center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.container7 {

    margin-right: -10px;
    margin-left: -10px;

    height: 100%;
}

.row>.card-group {
    margin-left: 0;
    margin-right: 0;
}

.card-group .card {
    margin: 10px;
}

.card.card-primary {
    border-color: #e4e4e4;
    border-width: 1px;
    border-style: solid;
}

.card {

    background-color: #fff;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    padding: 30px;
    background-color: #fff;
    border-radius: 2px;
}

.row {
    clear: both;
}

.prospect .subhead {
    font-size: 15px;
    line-height: 21px;
    font-weight: 500;
}

a.card {
    color: inherit;
    text-decoration: inherit;
    text-align: inherit;
}

.card-group {
    position: relative;
    margin: 0 auto;

    display: flex;

    flex-wrap: wrap;

    align-items: center;
}

.vertical-offset-xl {
    margin-bottom: 34px !important;
}

.row:after {
    clear: both;
}

.card .accent {
    left: -1px;
    width: calc(100% + 2px);
    position: absolute;
    top: -1px;
    height: 5px;
}

.text-center,
.text-center-xs {
    text-align: center;
}

.vert-offset-bottom-3,
.vertical-offset-3,
.vertical-offset-md {
    margin-bottom: 25px !important;
}

.chart-color-4 {
    background: var(--goldbg);
}

.card .card-body {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.prospect h3 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
}

.prospect .subhead {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
}

.start {
    width: 50%;
    padding-top: 300px;
    margin: 0 auto;
    color: var(--color6);
}

.center {
    margin: 0 auto;
    text-align: center;
}

iframe {
    margin: 0 auto;
    align-items: center;
}

#vidtext {
    padding: 2em;
    font-style: italic;
}

.row {
    height: 100%;

}

.row.row-flex {
    display: flex;
    align-items: center;
}

.left {
    width: 50%;
}

.text {
    align-items: center;
    margin-left: 20%;
    margin-bottom: 20%;
}


.right {
    width: 50%;

}

.right img {
    min-width: 600px;
    object-fit: cover;
    margin-top: 40%;
    margin-left: 30%;
}


.fade-in-image {
    animation: fadeIn 5s;
}

.fade-in-text {
    animation: fadeIn 4s;
}

/* fade-in animation on scroll */
.tag {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}

.tag.visible {
    opacity: 1;
    transform: translate(0, 0);
}

/* fade-in animation on page load */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container {
    border: 2px solid var(--color3);
    border-radius: 10px;
    background-color: var(--color5);
    margin: 0 auto;
    padding: 2em 1em;
    height: 100vh
}

.c2-gradient {
    background: linear-gradient(to right bottom, #FFFFFF 0, #FFFFFF 50%, var(--color1) 50%, var(--color1) 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top right;
    height: 100%;
}

.gold-gradient {
    background: linear-gradient(to left bottom, #FFFFFF 0, #FFFFFF 40%, #fdb432 40%, #fdb432 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top left;
    height: 100%;
}

footer {

    max-height: 500px;
    display: grid;

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 0px;
    height: 100%;

}

footer ul li {
    text-decoration: none;
    list-style: none;
    line-height: 1em;
    padding-top: 10px
}

.col1 {
    padding-top: 10px;
    background-color: var(--color8);
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 2;
}

.col2 {
    padding-top: 10px;
    background-color: var(--color8);
    grid-row-start: 1;
    grid-column-start: 2;

    grid-row-end: 2;
    grid-column-end: 3;
}

.col3 {
    padding-top: 10px;
    background-color: var(--color8);
    grid-row-start: 1;
    grid-column-start: 3;

    grid-row-end: 2;
    grid-column-end: 4;
}

.ads {
    padding-top: 10px;
    margin-top: -20px;
    text-align: center;
    background-color: var(--color8);
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 4;

}



.fh {
    text-align: center;
    font-weight: bold;

    text-decoration: underline;
}

.fb {
    margin-top: 100px;
    max-width: 50%;
    margin-left: 25%;
    padding: 1em;
}

.li {
    text-align: center;
}

.li a {
    text-decoration: none;

}

.li:hover {
    color: var(--color6);

}